{% extends 'base.html.twig' %}

{% block body %}
    <main class="mx-[30%]">
        <h1 class="py-8 text-4xl text-center">Contacts Favoris</h1>
        <section class="grid grid-cols-2 gap-6">
            {% for person in persons %}
                <twig:PersonCard :person="person" />
            {% endfor %}
            <twig:PersonCard />
        </section>
    </main>
{% endblock %}
